/* definicion de variables */

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

                                        /*? CSS NAVBAR */   
nav{
    background-color: rgb(31, 28, 28);
    font-family: 'Pokemon Solid', sans-serif;
}

.nav-buttons a{
    color: aliceblue;
    margin: 15px;
}

.logo_img img{
    width: 5rem;
    transition: 450ms;
}

.logo_img img:hover{
    transform: scale(1.15);
}

.white-toggle .navbar-toggler-icon {
    filter: invert(1);
}
.navbar-toggler{
    border: 1px solid white;
    border-radius: 0.5rem;
}

/* variables seccion series */

:root
{
 --color-background: #1F1A14;
 --color-secondary: #BFB09E;
}

body
{
    background-color: var(--color-background);
}


.imgSerie
{
    width: 150px;
    background-color: whitesmoke;
    height: 125px;
    object-fit: contain;
}

.iconSerie
{
    background-color: whitesmoke;
    font-size: 100px;
    padding: 1px 25px;
}

.text-secondary-1
{
    color: var(--color-secondary);
}

.serie-hover
{
    transition: all;
    transition-duration: 0.3s;  
}

.serie-hover:hover
{
    box-shadow: 0 0px 30px var(--color-secondary);
}

